<h1>Interstate 24 (I-24) <img src="././/images/24.png"  height="50" width="50"> </h1>
<p><strong>Interstate 24 (I-24)</strong> is an Interstate Highway in the Midwestern and Southeastern United States. It runs diagonally from I-57, 10 miles (16 km) south of Marion, Illinois, to Chattanooga, Tennessee, at I-75.[2] As an even-numbered Interstate, it is signed as an east–west route, though the route follows a more southeast–northwest routing. Because the routing of I-24 is diagonal, the numbering is a bit unusual as it does not completely follow the Interstate Highway System numbering conventions.</p>

<img src="././images/I24_bridge.jpg"  height="300" width="400">
<p><i>I-24 Bridge connects Illinois with Kentucky across the Ohio River</i></p>